.tree-container {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: var(--gh-bg-primary);
}

#cy {
    width: 100%;
    height: 100%;
}

.zoom-controls {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    z-index: 10;
}

@media (max-width: 767px) {
    .zoom-controls {
        top: 15px;
        right: 20px;
    }
}

.zoom-controls button {
    box-shadow: 0 3px 8px -1px rgba(0, 0, 0, 0.5),
        0 6px 12px 0 rgba(0, 0, 0, 0.3),
        0 1px 20px 0 rgba(0, 0, 0, 0.25);
}